html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  
header{
    padding: 10px;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #212529;
}

header h1{
    margin:10px;
}

div.container {
    float: left;
    width: auto;
    height: auto;
    margin-left: 10%;
}
div.row h1{
    margin-bottom: 5%;
}

form label {
    width: auto;
    padding-right: 5%;
    
}

form div {
    margin-bottom: 10px;
    
}
button .btn\ btn-primary{
    background-color: white;
}

div.box{
    float:right;
    margin-right: 10%;
    width: auto;
    height: auto;
    padding: 4%;
    border-radius: 4%;
    background-color: aquamarine;
    
}
div.box ul p a{
    text-decoration: none;
    color: black;
}

footer{
    display: block;
    padding: 10px;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #212529;
}